@page
@model DiseñoResponsive.Pages.ContactUsModel
@{
}

<div class="div-purple">
    <!--Iinterest division-->
    <div class="pad-y">
        <h1 class="p-3 text-white text-center text-font">Caught your interest?</h1>
        <p class="p-2 text-center text-white">Phasellus et consequat ex. Fusce non tellus non eros convallis pharetra. <br>
            Morbi posuere dictum lorem, in ultricies tortor vulputate facilisis.
        </p>
    </div>
    <!--Information division-->
    <div class="row marg-x pad-b align-items-center">
        <div class="col-md-4 row bkg-white">
                <i class="fas fa-map-marker-alt icon-grey"></i>
                <p class="p-1 text-muted text-center fw-bold">Address</p>
                <p class="text-center">121 Rock Sreet, 21 Avenue, <br>Nueva York, NY 92103-9000</p>
        </div>
        <div class="col-md-4 row bkg-white">
                <i class="fas fa-envelope icon-grey"></i>                
                <p class="p-1 text-muted text-center fw-bold">E-Mail</p>
                <a class="text-center">hello@company.com support@company.com</a>
        </div>
        <div class="col-md-4 row bkg-white">
                <i class="fas fa-phone icon-grey"></i>                
                <p class="p-1 text-muted text-center fw-bold">Get In Touch</p>
                <p class="text-center">1 (234) 567-891<br>1 (234) 987-654</p>       
        </div>
    </div>
</div>
