@page
@model DiseñoResponsive.Pages.DataOverviewsModel
@{
}

<div class="div-purple p-5 row">
    <!--Data overviews division-->
    <div class="pad-xldo col-md-8">
        <div>
            <h1 class="fw-bolder text-white title-do">Data Overviews</h1>
        </div>
        <div>
            <img src="~/css/Images/3.jpg" class="img-do" alt="">
        </div>
    </div>
    <!--Goals and Mindset division-->
    <div class="pad-xrdo col-md-4">
        <!--Goals division-->
        <div class="marg-b">
            <div>
                <h4 class="text-white text-uppercase fw-bold">01. Goals</h4>
            </div>
            <div>
                <p class="p-3 marg-l d-flex text-white">Quis malesuada sem commodo. Phasellus id erat eu odio dictum</p>
            </div>
            <div>
                <a href="#" class="p-3 marg-l text-white">MORE...</a>
            </div>
        </div>
        <!--Mindset division-->
        <div>
            <div>
                <h4 class="text-white text-uppercase fw-bold">02. Mindset</h4>
            </div>
            <div>
                <p class="p-3 marg-l d-flex text-white">Proin sed convallis elit, id posuere eros. Morbi sollicitudin augue sed nulla eleifend.</p>
            </div>
            <div>
                <a href="#" class="p-3 marg-l text-white">MORE...</a>
            </div>
        </div>
    </div>
</div>