@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="div-purple p-5 row">
    <!--Web Development Division-->
    <div class="pad-xl col-md-6">
        <div class="p-3">
            <h1 class="text-white fw-bolder">Web Software<br>Development</h1>
        </div>
        <div class="p-3">
            <p class="text-white">Ut enim ad minim veniam, quis nostrud ejercicio ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            </p>
        </div>
        <div class="p-3">
            <button type="button" class="btn btn-primary btn-lg style-button text-uppercase fw-bold">Get Started</button>
        </div>
    </div>
    <!--Image division-->
    <div class="pad-xr col-md-6">
        <img src="~/css/Images/1.jpg" class="img-wsd" alt="">
    </div>
</div>
