@page
@model DiseñoResponsive.Pages.ITSolutionsModel
@{
}

<div class="marg-x pad-t row">
    <!--IT Solutions division-->
    <div class="p-3 col-md-4">
        <div class="p-3">
            <h1 class="text-blue fw-bolder">IT Solutions</h1>
        </div>
        <div class="p-3">
            <p class="text-black">Mauris at odio ut orci pharetra viverra. Maecenas non dignissim dolor, dignissim vestibulum
                ipsum. Nunc quis egestas augue, vel hendrerit sem.
            </p>
        </div>
        <div class="p-3">
            <button type="button" class="btn btn-primary btn-lg style-button text-uppercase fw-bold">Learn How</button>
        </div>
    </div>
    <!--Image division-->
    <div class="col-md-8">
         <img src="~/css/Images/4.jpg" class="img-its" alt="">
    </div>
</div>
