@page
@model DiseñoResponsive.Pages.KeyFeaturesModel
@{
}

<div class="div-white">
    <h1 class="p-3 text-black fw-bolder text-center">Key features</h1>
    <p class="p-2 text-center">Vestibulum sit amet tristique lectus, quis pulvinar dolor</p>
</div>
<div class="marg-xkf row">
    <!--Image division-->
    <div class="col-md-6">
        <img src="~/css/Images/2.jpg" class="img-kf" alt="">
    </div>
    <div class="col-md-6">
        <div class="row">
            <!--development division-->
            <div class="col-md-6 dev-div">
                <div class="row">
                    <i class="p-1 far fa-file-code icon"></i>
                    <p class="p-1 text-white text-center">Development</p>
                </div>
            </div>
            <!--technical division-->
            <div class="col-md-6 tec-div">
                <div class="row">
                    <i class="fas fa-briefcase icon"></i>
                    <p class="p-1 text-white text-center">Technical Skills</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--design division-->
            <div class="col-md-6 des-div">
                <div class="row">
                    <i class="fas fa-palette icon"></i>
                    <p class="p-1 text-white text-center">Design</p>
                </div>
            </div>
            <!--adaptative division-->
            <div class="col-md-6 adap-div">
                <div class="row">
                    <i class="fas fa-desktop icon"></i>
                    <p class="p-1 text-white text-center">Adaptative</p>
                </div>
            </div>  
        </div>
    </div>
</div>

